html, body {
    min-width: 300px;
    /* min-height: 100%; */
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: sans-serif;
    background: linear-gradient(
        to bottom,
         #060206,
          #350c3b 40%,
          #3f018a 70%,
           #28018a);
    color: white;
  }

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, .25);
    border-radius: 50px;
    margin: 2% 10%;

}

#bio {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text {
    font-size: 1.35em;
    max-width: 45ch;
    line-height: 2.3rem;
    text-align: justify;
    
}

#bio .image {
    background-color: white;
    min-width: 10rem;
    margin-left: 50px;
    aspect-ratio: 1;
    border-radius: 100%;
}

#certs {
    display: flex;
    justify-content: center;
    align-items: center;
}

#certs .cert {
    width: 10rem;
    height: 10rem;
    border-radius: 15px;
    background-color: white;
    margin: 5rem 10rem;
    color:black;
    text-align: center;
}

#projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}

#projects .project {
    width: 20rem;
    height: 30rem;
    border-radius: 15px;
    background-color: white;
    color:black;
    text-align: center;
    justify-content: space-evenly;
}

.contact {
    background-color: rgba(255, 255, 255, .1);
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

#sprites {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:100px;
    background-color: rgba(255, 255, 255, .3);
    padding: 20px;
    border-radius: 30px;
}

#sprites .sprite {
    font-size: 1.5rem;
    background-color: black;
    padding: 5px 10px;
    border-radius: 10px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

